@model List<Product>

@foreach (var item in Model)
{
    <div class="swiper-slide">
        <!--== Start Shop Item ==-->
        <div class="product-item">
            <div class="inner-content">
                <div class="product-thumb">
                    <a href="shop-single.html">
                        <img class="w-100" src="~/Upload/ProductImages/@item.Images.FirstOrDefault().ImgUrl" alt="Image-HasTech">
                    </a>
                    <div class="product-action">
                        <div class="addto-wrap">
                            <a class="add-cart" href="shop-cart.html">
                                <span class="icon">
                                    <i class="bardy bardy-shopping-cart"></i>
                                    <i class="hover-icon bardy bardy-shopping-cart"></i>
                                </span>
                            </a>
                            <a class="add-wishlist" href="wishlist.html">
                                <span class="icon">
                                    <i class="bardy bardy-wishlist"></i>
                                    <i class="hover-icon bardy bardy-wishlist"></i>
                                </span>
                            </a>
                            <a class="add-quick-view" href="javascript:void(0);">
                                <span class="icon">
                                    <i class="bardy bardy-quick-view"></i>
                                    <i class="hover-icon bardy bardy-quick-view"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-desc">
                    <div class="product-info">
                        <h4 class="title"><a href="shop-single.html">@item.Title</a></h4>
                        <div class="star-content">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="prices">
                            <span class="price">@item.Price</span>
                            <span class="price-old">Tk 130.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--== End Shop Item ==-->
    </div>

}

