@model LoginVM

<div class="container">
    <div class="row">
        <div class="col mt-5 mb-5">
            <form method="post">
                <div class="login-form">
                    <h4 class="login-title">Login</h4>
                    <div class="row">
                        
                        <div class="col-6">
                            <label asp-for="UsernameOrEmail">Username/Email</label>
                            <input asp-for="UsernameOrEmail" placeholder="Username or Email" class="form-control">
                            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                                <span asp-validation-for="UsernameOrEmail"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <label aps-for="Password">Password</label>
                            <input asp-for="Password" placeholder="Password" class="form-control">
                            <div style="color: red; margin-top: 10px; margin-left: 10px;">
                                <span asp-validation-for="Password"></span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>