@model CreateProductVM

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="container">
            <h4 class="mb-5">Category Create</h4>
            <form method="post" enctype="multipart/form-data">
                <div class="col-4">
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Product Title</label>
                        <input asp-for="Title" class="form-control">
                        <div style="color: red; margin-top: 10px; margin-left: 10px;">
                            <span asp-validation-for="Title"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label">Product Price</label>
                        <input asp-for="Price" class="form-control">
                        <div style="color: red; margin-top: 10px; margin-left: 10px;">
                            <span asp-validation-for="Price"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="CategoryId" class="form-label">Product Category</label>
                    <select asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))" class="form-select mx-3">
                        <option value="null">Choose Category</option>
                    </select>
                    <div style="color: red; margin-top: 10px; margin-left: 10px;">
                        <span asp-validation-for="CategoryId"></span>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="ColorIds" class="form-label">Product Color</label>
                    <br />
                    <select asp-for="ColorIds" asp-items="new SelectList(Model.Colors, nameof(Color.Id), nameof(Color.Name))" class="form-select mx-3">
                    </select>
                    <div style="color: red; margin-top: 10px; margin-left: 10px;">
                        <span asp-validation-for="ColorIds"></span>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="SizeIds" class="form-label">Product Size</label>
                    <br />
                    <select asp-for="SizeIds" asp-items="new SelectList(Model.Sizes, nameof(Size.Id), nameof(Size.Name))" class="form-select mx-3">
                    </select>
                    <div style="color: red; margin-top: 10px; margin-left: 10px;">
                        <span asp-validation-for="SizeIds"></span>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="MaterialIds" class="form-label">Product Material</label>
                    <br />
                    <select asp-for="MaterialIds" asp-items="new SelectList(Model.Materials, nameof(Material.Id), nameof(Material.Name))" class="form-select mx-3">
                    </select>
                    <div style="color: red; margin-top: 10px; margin-left: 10px;">
                        <span asp-validation-for="MaterialIds"></span>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Product Description</label>
                        <input asp-for="Description" class="form-control">
                        <div style="color: red; margin-top: 10px; margin-left: 10px;">
                            <span asp-validation-for="Description"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="Images" class="form-label">Product Images</label>
                    <input asp-for="Images" class="form-control">
                    <div style="color: red; margin-top: 10px; margin-left: 10px;">
                        <span asp-validation-for="MaterialIds"></span>
                    </div>
                </div>
                <a asp-action="Table" asp-controller="Product">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button asp-controller="Product" asp-action="Table" class="btn btn-secondary">Cancel</button>
                </a>
            </form>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
                Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from
                BootstrapDash.
            </span>
            <span class="float-none float-sm-end d-block mt-1 mt-sm-0 text-center">
                Copyright © 2021. All rights
                reserved.
            </span>
        </div>
    </footer>
    <!-- partial -->
</div>
<!-- main-panel ends -->